@page "/GrapeSorts/{grapeSortId}/Delete"
@inherits wine_quality_mobile.Components.Common.BaseComponent

<h3>@Localizer["grape-sorts.delete.header"]</h3>

@if (_dataLoaded)
{
    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
            @Localizer["grape-sorts.delete.warning"]
        </div>
        <div class="card-footer">
            <button class="btn btn-danger" @onclick="DeleteGrapeSort">@Localizer["common.confirm"]</button>
            <a class="btn btn-primary" href="/GrapeSorts/@GrapeSortId">@Localizer["common.cancel"]</a>
        </div>
    </div>
}
else
{
    <p>@Localizer["common.loading"]...</p>
}