@page "/Phases/{phaseId}/Delete"
@inherits wine_quality_mobile.Components.Common.BaseComponent
<h3>@Localizer["phases.delete.header"]</h3>

@if (_phaseLoaded)
{
    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
            @Localizer["phases.delete.warning"]
        </div>
        <div class="card-footer">
            <button class="btn btn-danger" @onclick="DeletePhase">@Localizer["common.confirm"]</button>
            <a class="btn btn-primary" href="/Phases">@Localizer["common.cancel"]</a>
        </div>
    </div>
}
else
{
    <p>@Localizer["common.loading"]...</p>
}