@page "/Phases/{phaseId}"
@inherits wine_quality_mobile.Components.Common.BaseComponent

<h3>@Localizer["phases.details.header"]</h3>

@if (_phaseLoaded)
{
    <p>@Localizer["phases.name"]: @_phase.Name</p>
    <p>@Localizer["common.createdAt"]: @_phase.CreatedAt</p>
    <p>@Localizer["common.updatedAt"]: @_phase.UpdatedAt</p>

    <h4>@Localizer["phases.parameters"]</h4>

    @if (!_phase.Parameters.Any())
    {
        <div>@Localizer["phases_no_parameters"]</div>
    }
    else
    {
        <ul>
            @foreach (var parameter in _phase.Parameters)
            {
                <li>@parameter.Name</li>
            }
        </ul>
    }
    
    <a class="btn btn-primary" href="/Phases/@_phase.Id/Edit"><i class="fa-solid fa-pen-nib"></i></a>
    <a href="/Phases/@_phase.Id/EditParameters" class="btn btn-secondary">@Localizer["phases.configure-parameters.button"]</a>
    <a class="btn btn-danger" href="/Phases/@_phase.Id/Delete"><i class="fa-solid fa-trash"></i></a>
    <a class="btn btn-secondary" href="/Phases">@Localizer["common.back"]</a>
}
else
{
    <p>@Localizer["common.loading"]</p>
}