@page "/Parameters/Create"
@inherits wine_quality_mobile.Components.Common.BaseComponent
<h3>@Localizer["parameters.create.header"]</h3>

<a class="btn btn-primary" href="/Parameters">@Localizer["common.back"]</a>

<EditForm Model="@CreateProcessParameterRequest" OnValidSubmit="@CreateParameter">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label class="form-label" for="name">@Localizer["parameters.name"]</label>
        <InputText id="name" class="form-control" @bind-Value="CreateProcessParameterRequest.Name" />
        <ValidationMessage For="@(() => CreateProcessParameterRequest.Name)" />
    </div>

    <button type="submit" class="btn btn-primary">@Localizer["common.confirm"]</button>
</EditForm>