@page "/Parameters/{parameterId}"
@inherits wine_quality_mobile.Components.Common.BaseComponent

<h3>@Localizer["parameters_details_header"]</h3>

@if (_parameterLoaded)
{
    <a class="btn btn-secondary" href="/Parameters">@Localizer["common.back"]</a>
    
    <p>@Localizer["parameters_name"]: @_parameter.Name</p>
    <p>@Localizer["common.createdAt"]: @_parameter.CreatedAt</p>
    <p>@Localizer["common.updatedAt"]: @_parameter.UpdatedAt</p>

    <h4>@Localizer["parameters_phases"]</h4>

    @if (!_parameter.Phases.Any())
    {
        <div>@Localizer["parameters_no_phases"]</div>
    }
    else
    {
        <ul>
            @foreach (var parameter in _parameter.Phases)
            {
                <li>@parameter.Name</li>
            }
        </ul>
    }
    
    <div class="btn-group" role="group">
        <a class="btn btn-primary" href="/Parameters/@_parameter.Id/Edit"><i class="fa-solid fa-pen-nib"></i></a>
        <a class="btn btn-danger" href="/Parameters/@_parameter.Id/Delete"><i class="fa-solid fa-trash"></i></a>
    </div>
}
else
{
    <p>@Localizer["common.loading"]</p>
}