@page "/WineMaterialBatches/{wineMaterialBatchId}/Phases/{wineMaterialBatchGrapeSortPhaseId}/Predictions/History"
@inherits wine_quality_mobile.Components.Common.BaseComponent
<h3>@Localizer["wine-material-batch-phases.prediction-history.header"]</h3>

@if (_dataLoaded)
{
    <div class="mb-3">
        <a class="btn btn-primary" href="/WineMaterialBatches/@WineMaterialBatchId/Phases/@WineMaterialBatchGrapeSortPhaseId">@Localizer["common.back"]</a>
    </div>
    
    @foreach (var predictionHistoryItem in _predictionHistory)
    {
        <div class="accordion" id="predictionAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="@($"heading{predictionHistoryItem.Id}")">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="@($"#collapse{predictionHistoryItem.Id}")" aria-expanded="false" aria-controls="@($"collapse{predictionHistoryItem.Id}")">
                        @predictionHistoryItem.Quality (@predictionHistoryItem.CreatedAt)
                    </button>
                </h2>
                <div id="@($"collapse{predictionHistoryItem.Id}")" class="accordion-collapse collapse" aria-labelledby="@($"heading{predictionHistoryItem.Id}")" data-bs-parent="#predictionAccordion">
                    <div class="accordion-body">
                        <a href="/WineMaterialBatches/@WineMaterialBatchId/Phases/@WineMaterialBatchGrapeSortPhaseId/Predictions/@predictionHistoryItem.Id" class="btn btn-secondary"><i class="fa-solid fa-eye"></i></a>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <p>
        @Localizer["common.loading"] ...
    </p>
}